*{
	box-sizing: border-box;
}
body{
	
	background-color: #fff;
	font-family: Roboto, sans-serif;
	
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto.ttf");
}
@font-face {
	font-family: Roboto;
	src: url("../fonts/Robotobold.ttf");
	font-weight: bold;
}

li{
list-style: none;
	
}

a{
	text-decoration: none;
}
