**
body{
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto.ttf");
}
@font-face {
	font-family: Roboto;
	src: url("../fonts/Robotobold.ttf");
	font-weight: bold;
}

li{
	display: none;
}

.wrapper{
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}

.header{
	
	text-align: center;
	align-items: center;
	background-color:rgb(233, 219, 211);
}

.header_img{
	width: 15rem;
	height: 17rem;
	border-radius: 50%; 
	overflow: hidden;
	
}


.main{
	
	display: flex;
	
}

.header__section-name h1{
	font-size: 40px;
	font-weight: bold;
	color: rgb(202, 161, 161);
}


.header__section-name h2{
	font-size: 30px;
	font-weight: bold;
	color: rgb(202, 161, 161);
}


